# Fichiers système
.DS_Store
Thumbs.db

# Répertoires de construction
*.build/

# Fichiers générés par l'IDE Arduino
*.elf
*.hex
*.bin
*.eep
*.ino.*
*.out

# Répertoires de logs ou fichiers temporaires
*.log
*.tmp

# Fichiers du gestionnaire de librairies Arduino
libraries/
lib à modifier/
sav/
sav2/
# Fichiers de sauvegarde (IDE et autres)
*.bak
*.swp
*.swo
*.~*

# Fichiers spécifiques à l'OS
*.dSYM/
*.Spotlight-V100
*.Trashes
